{{ range $i, $alert := .Alerts }}
**规则名称**: **{{ $alert.Labels.alertname }}**
{{ if eq $alert.Status "firing" }}
**警报等级**: <font color="warning">**{{ $alert.Labels.level }}**</font>
**触发时间**: {{ timeFormat ($alert.StartsAt) }}
**持续时长**: {{ timeFromNow ($alert.StartsAt) }}
{{ else if eq $alert.Status "resolved"}}
**当前状态**: <font color="info">**恢复正常**</font>
**触发时间**: {{ timeFormat ($alert.StartsAt) }}
**恢复时间**: {{ timeFormat ($alert.EndsAt) }}
**持续时长**: {{ timeDuration ($alert.StartsAt) ($alert.EndsAt) }}
{{ end }}{{ if $alert.Annotations.current }}**当前值**: {{ $alert.Annotations.current }}{{ end }}
**标签列表**: {{ $alert.Annotations.labels }}
{{ end }}