{{ range $i, $alert := .Alerts }}
**集群名称**: {{ $alert.Labels.cluster }}
{{ if eq $alert.Status "firing" }}
**告警名称**: <font color="warning">**{{ $alert.Labels.alertname }}**</font>
**警报等级**: {{ $alert.Labels.level }}
**触发时间**: {{ timeFormat ($alert.StartsAt) }}
**持续时长**: {{ timeFromNow ($alert.StartsAt) }}
{{ else if eq $alert.Status "resolved"}}
**告警名称**: <font color="info">**{{ $alert.Labels.alertname }}**</font>
**触发时间**: {{ timeFormat ($alert.StartsAt) }}
**恢复时间**: {{ timeFormat ($alert.EndsAt) }}
**持续时长**: {{ timeDuration ($alert.StartsAt) ($alert.EndsAt) }}
{{ end }}{{ if $alert.Annotations.current }}**当前状态**: {{ $alert.Annotations.current }}{{ end }}
{{ if $alert.Annotations.labels }}**标签列表**: {{ $alert.Annotations.labels }}{{ end }}
{{ end }}